body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #F8F8F8;
    overflow-x: hidden;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: none;
}

header {
    margin-top: 0;
    background-color: #fff;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
}

header h1 {
    font-size: 1em;
    margin-left: 50px;
    cursor: pointer;
}

.titulo-mobile {
    display: none;
}

.menu-container {
    transition: 0.5s;
    width: 30%;
    height: 100%;
    background-color: #F8F8F8;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    z-index: 50;
    position: fixed;
    animation: slide-fechar 1s;
    display: flex;
}

.ativo {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
    display: flex;
    animation: slide-abrir 1s;
}

.fechar-icon {
    margin-left: 50px;
}

.menu {
    margin-left: 100px;
    transition: 1s;
    display: flex;
    flex-direction: column;
}

.menu li {
    position: relative;
    margin: 20px;
    font-size: 2em;
    cursor: pointer;
    font-weight: bolder;
    z-index: 200;
}

@keyframes slide-abrir {
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes slide-fechar {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-100px);
    }
}

.menu a::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3px;
    background-color: #066FD0;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.menu a:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.left-bar {
    z-index: 300;
    height: 100%;
    width: 50px;
    background-color: #fff;
    position: fixed;
}

.bolinhas {
    display: block;
}

.ball {
    margin: 2px;
    width: 10px;
    height: 10px;
    background-color: #161616;
    border-radius: 100%;
}

.abrir {
    left: 20px;
    top: 50%;
    position: absolute;
    font-size: 0.8em;
    display: flex;
    color: #161616;
    cursor: pointer;
}

.abrir-word {
    transform: rotate(-90deg);
}

.abrir-mobile {
    display: none;
}

.bg-azul {
    transition: 1s ease;
    position: absolute;
    width: 50%;
    height: 100vh;
    background-color: #066FD0;
    top: 0;
    left: 0;
}


/* PARTE 2 */



.bg-azul:hover {
    cursor: pointer;
}

.seta-click {
    z-index: 100;
    margin: 400px auto 0 35%;
    cursor: pointer;
    animation: seta-left-slide 1s;
}

.seta-slide {
    animation: seta-right-slide 1s;
}

/* @keyframes seta-right-slide{
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(250px);
    }
}
@keyframes seta-left-slide{
    from {
        transform: translateX(250px);
    }
    to {
        transform: translateX(0px);
    }
} */

.slide-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 1.5s;
}

.bg-azul {
    transition: 1s ease;
    position: absolute;
    width: 50%;
    height: 100vh;
    background-color: #066FD0;
    z-index: -100;
}

.cover {
    transition: 1s ease;
    width: 100%;
}

.titulo {
    position: absolute;
    left: 35%;
    font-size: 8em;
    font-weight: bolder;
    color: #161616;
    transition: 1.5s;
    z-index: -100;
}

.slide {
    transition: 1.5s;
    left: 90%;
    z-index: -100;
}

.texto {
    position: absolute;
    width: 100%;
    transition: 0.3s;
    opacity: 0;
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.texto span:nth-child(2) {
    color: #161616;
}

.texto-show {
    transition: 3s;
    opacity: 1;
}

.right-bar {
    right: 0;
    height: 100%;
    width: 50px;
    background-color: #fff;
    position: fixed;
}

.bottom-bar {
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
}

.section-2 {
    margin-top: 0px;
    width: 100%;
    height: 1024px;
}

.about-txt {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 100px;
}

.about-txt h1 {
    font-weight: 500;
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
}

.about-txt h2 {
    font-weight: 500;
    font-size: 1.2em;
    text-align: center;
    color: #fff;
    background-color: #161616;
    margin: 0 auto;
    width:300px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-txt a {
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #fff;
}

.about-txt img {
    margin: 0 auto;
    width: 200px;
}

.links {
    margin: 0 auto;
    margin-top: 50px;
}

.links i {
    scale: 7;
    margin: 50px;
    color: #161616;
}
.links i:hover {
    cursor: pointer;
    color: #066FD0;
}

.education {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.education h1 {
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
}
.education span{
    margin-top: 30px;
}
    .education p{
    margin: 10px;
    font-size: 2em;
}
.education i {
    margin: 0 auto;
    margin-top: 100px;
    transform: scale(7);
    color: #161616;
}

.education i:hover {
    color: #066FD0;
    cursor: pointer;
}

.section-4 {
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-4 h1 {
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    margin-bottom: 70px;
}

.section-4 h2 {
    font-weight: 200;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 30px;
}

.icons-top i {
    color: #161616;
    transform: scale(7);
    margin: 60px;
}

.icons-top i:hover {
    color: #066FD0;
}

.icons-bot img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.icons-bot img:nth-child(3) {
    width: 66px;
}

[data-anime] {
    opacity: 0;
    transition: .3s;
    transform: translate3d(-50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

footer {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 150px;
    background-color: #161616;
}

.footer-content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.footer-txt h1 {
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

.footer-txt span {
    font-size: 0.8em;
    font-weight: lighter;
}

.footer-seta{
    display: flex;
    align-items: center;
}
.footer-seta span{
    font-size: 0.7em;
}
.back-top{
    transform: rotate(-90deg);
}



/* MOBILE RESPONSIVO */

@media(max-width: 900px){
    hr{
      display: none;
    }
    header{
        z-index: 200;
        display: flex;
        justify-content: space-between;
    }
    header h1{
        margin-left: 20px;
        font-size: 1em;
    }
    .menu-container{
        width: 100vw;
        z-index: 101;
    }
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        transition: 1.5s;
    }
    .seta-click{
        z-index: 100;
        margin: 0 auto;
        margin-top: 500px;
        margin-left: 10%;
        cursor: pointer;
        animation: seta-left-slide 1s;
    }
    .titulo{
        display: none;
    }
    .titulo-mobile{
        transition: 1.5s;
        position: absolute;
        left: 25%;
        display: flex;
        font-size: 5em;
        margin: 0 auto;
    }
    .slide{
        transition: 1.5s;
        left: 98%;
        z-index: -100;
    }

    .about-txt{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .about-txt h1{
      font-size: 1.5em;
      padding: 5px;
      margin-top: 20px;
    }
    .about-txt h2{
      margin-top: 10px;
    }
    .about-txt img{
      width: 80px;
    }
    .links i{
      scale: 5;
      z-index: -10;
    }

  .section-2, .section-3, .section-4{
      height: 100vh;
    }
    .education h1{
      font-size: 2em;
      margin-bottom: 50px;
    }
    .education span{
      font-size: 1em;
    }
    .education p{
      font-size: 1.5em;
    }
    .education img{
      margin: 0 auto;
      width: 120px;
    }
    .about-txt h1 {
      font-size: 1.5em;
    }
    .section-4 h1{
        font-size: 2em;
    }
  
    .icons-top{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .icons-top i{
      scale: 0.7;
      margin: 50px;  
      z-index: -10;
    }
    .icons-bot{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .icons-bot img{
      width: 70px;
      height: 70px;
      margin: 10px;
    }
    .icons-bot img:nth-child(3){
      width: 43px;
    }

    .right-bar, .bottom-bar{
        display: none;
    }
    .menu{
        margin-left: 60px;
    }
    .left-bar{
        height: 50px;
        width: 50px;
        position: fixed;
        right: 20px;
    }
    .abrir{
        position: absolute;
        display: flex;
        top: 10px;
    }
    .bolinhas{
        display: block;
    }
    .ball{
        margin: 2px;
        width: 10px;
        height: 10px;
        color: #161616;
        border-radius: 100%;
    }
    .abrir-word{
        display: none;
    }

    .footer-txt h1{
        margin-bottom: 5px;
        font-size: 1em;
        font-weight: bold;
    }
  }